{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 90,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto"
}
